In [1]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings("ignore")

#### 1) Create a DatetimeIndex that contains each business day of 2015 and use it to index a series of random numbers.

In [2]:
### use pandas date range function to generate the required date range ###

date_range_y2015_bd = pd.date_range('1/1/2015', '12/31/2015', freq='B') ### frequency 'B' for getting only business days

### pd Series: data = range of random numbers, index = date range ### 

series_randn_dtrng_index = pd.Series(np.random.randn(date_range_y2015_bd.size), index=date_range_y2015_bd)

print("The series of randon numbers with date range as index is:\n\n", series_randn_dtrng_index, "\n")

The series of randon numbers with date range as index is:

 2015-01-01   -0.315917
2015-01-02   -0.544044
2015-01-05    1.982792
2015-01-06   -0.795343
2015-01-07   -0.731180
2015-01-08    1.586584
2015-01-09   -0.515724
2015-01-12   -0.996472
2015-01-13    0.231036
2015-01-14   -0.728979
2015-01-15   -0.469139
2015-01-16   -1.104141
2015-01-19    2.212997
2015-01-20   -0.428317
2015-01-21    1.691516
2015-01-22    0.905906
2015-01-23   -0.780699
2015-01-26   -0.558673
2015-01-27   -0.544003
2015-01-28    0.932076
2015-01-29   -0.505812
2015-01-30    0.645948
2015-02-02    1.499206
2015-02-03    0.653893
2015-02-04   -0.327566
2015-02-05    0.783327
2015-02-06    1.254133
2015-02-09    0.858950
2015-02-10   -0.256723
2015-02-11   -0.472416
                ...
2015-11-20   -0.061900
2015-11-23    2.656302
2015-11-24    0.478339
2015-11-25   -1.880717
2015-11-26    1.546897
2015-11-27    0.180944
2015-11-30   -0.810856
2015-12-01   -0.328115
2015-12-02    0.461981
2015-12-03    0.120449
2015-12-04    0.197053
2015-12-07    0.720944
2015-12-08    1.064491
2015-12-09   -0.255594
2015-12-10    0.434845
2015-12-11   -0.427159
2015-12-14   -0.734661
2015-12-15    1.803808
2015-12-16   -0.934523
2015-12-17    0.719600
2015-12-18   -1.055940
2015-12-21   -1.142806
2015-12-22    1.747157
2015-12-23    0.036607
2015-12-24   -1.330785
2015-12-25    0.288314
2015-12-28    0.460793
2015-12-29   -0.917639
2015-12-30   -0.459924
2015-12-31   -1.791675
Freq: B, Length: 261, dtype: float64

#### 2) Find the sum of the values in the DatetimeIndex for every Wednesday

In [3]:
### Search for wed using date index.weekday == 2 (0 == Mon, 1 == Tue ... and so on) ###

sum_wed = series_randn_dtrng_index.loc[series_randn_dtrng_index.index.weekday==2].sum()

print("The sum of the values in the series for every Wednesday is:", sum_wed, "\n")

The sum of the values in the series for every Wednesday is: -8.471665971342924

#### 3) Find average For each calendar month

In [4]:
### resample the series by month and calculate simple mean ###

series_avg_each_month = series_randn_dtrng_index.resample('M').mean()

print("Average for each calendar month:\n\n", series_avg_each_month, "\n")

Average for each calendar month:

 2015-01-31    0.053201
2015-02-28    0.153560
2015-03-31   -0.184160
2015-04-30    0.286650
2015-05-31   -0.155771
2015-06-30    0.108878
2015-07-31   -0.235282
2015-08-31   -0.087905
2015-09-30    0.120913
2015-10-31    0.122234
2015-11-30   -0.253769
2015-12-31   -0.057512
Freq: M, dtype: float64

#### 4) For each group of four consecutive calendar months in s, find the date on which the highest value occurred.

In [5]:
max_idx = series_randn_dtrng_index.resample('4M', closed='left').agg({np.argmax})

print("The dates in four consecutive months where the highest value occurred are {:%Y-%m-%d}, {:%Y-%m-%d} and {:%Y-%m-%d}".format(max_idx.argmax[0], max_idx.argmax[1], max_idx.argmax[2]))

The dates in four consecutive months where the highest value occurred are 2015-04-06, 2015-06-02 and 2015-11-23

#### 5) Read the dataset from the below link

us_baby_names_df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv')

In [6]:
us_baby_names_df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv')

#### 6) Delete all un-named columns

In [7]:
us_baby_names_df.drop(us_baby_names_df.loc[:, us_baby_names_df.columns.str.contains('^Unnamed')], axis=1, inplace=True)

us_baby_names_df.head(5)

      Id     Name  Year Gender State  Count
0  11350     Emma  2004      F    AK     62
1  11351  Madison  2004      F    AK     48
2  11352   Hannah  2004      F    AK     46
3  11353    Grace  2004      F    AK     44
4  11354    Emily  2004      F    AK     41

#### 7) Show gender wise distribution

In [8]:
us_baby_names_df.Gender.value_counts()

F    558846
M    457549
Name: Gender, dtype: int64

#### 8) Show the top 5 most preferred names

In [9]:
us_baby_names_df.groupby(['Name'])['Count'].sum().nlargest(5)

Name
Jacob       242874
Emma        214852
Michael     214405
Ethan       209277
Isabella    204798
Name: Count, dtype: int64

#### 9) median name occurence in the dataset

In [10]:
us_baby_names_df[us_baby_names_df.Id == us_baby_names_df.median().Id]['Name']

508197    Kasey
Name: Name, dtype: object

#### 10) Distribution of male and female born count by states

In [11]:
us_baby_names_df.groupby(['State','Gender'])['Count'].sum()

State  Gender
AK     F           26250
       M           37399
AL     F          215308
       M          260114
AR     F          129712
       M          162947
AZ     F          368567
       M          439691
CA     F         2414063
       M         2670584
CO     F          260805
       M          313425
CT     F          141350
       M          171397
DC     F           35276
       M           47228
DE     F           31312
       M           41748
FL     F          915422
       M         1060957
GA     F          549637
       M          635531
HI     F           37279
       M           53127
IA     F          144764
       M          174009
ID     F           72808
       M           94320
IL     F          695312
       M          791679
                  ...
OK     F          184967
       M          228613
OR     F          172111
       M          209445
PA     F          593382
       M          682709
RI     F           35560
       M           47939
SC     F          197917
       M          237442
SD     F           34104
       M           45443
TN     F          336487
       M          398615
TX     F         1786281
       M         2005394
UT     F          202892
       M          245324
VA     F          405503
       M          466873
VT     F           15079
       M           21353
WA     F          334944
       M          395377
WI     F          264921
       M          311758
WV     F           73800
       M           93557
WY     F           14107
       M           21912
Name: Count, Length: 102, dtype: int64