In [1]:
import numpy as np 
import pandas as pd 
pd.options.mode.chained_assignment = None

df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm',
                  'Budapest_PaRis', 'Brussels_londOn'],
                  'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
                  'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                  'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
                  '12. Air France', '"Swiss Air"']})

### 1. Fill in the missing numbers in the FlightNumber column (meant to increase by ten with each row) and make the column an integer column.

In [2]:
df['FlightNumber'].loc[1] = (df['FlightNumber'].loc[0] + 10)
df['FlightNumber'].loc[3] = (df['FlightNumber'].loc[2] + 10)
df['FlightNumber'] = df['FlightNumber'].astype(int)

### 2. Split the From_To column with '_' as the delimiter on a new temporary DataFrame. Assign the correct column names to this temporary DataFrame.

In [3]:
temp_df = pd.DataFrame(df.From_To)
temp_df['From'] = temp_df.From_To.str.split('_').str.get(0)
temp_df['To'] = temp_df.From_To.str.split('_').str.get(1)
temp_df = temp_df.drop('From_To', 1)

### 3. Standardise the strings in the temporary DataFrame, so that only the first letter is uppercase.

In [4]:
temp_df['From'] = temp_df.From.str.title()
temp_df['To'] = temp_df.To.str.title()

### 4. Delete the From_To column from df, and attach the temporary DataFrame from the previous questions.

In [5]:
df = df.drop('From_To', 1)
df = pd.concat([temp_df,df], axis = 1)

### 5. Expand the series of delays into a DataFrame named "delays". Each delay value should be in its own column. Missing values should be NaN. Rename the columns: delay_1, delay_2, etc. Replace RecentDelays with this DataFrame.

In [6]:
delays = pd.DataFrame(df['RecentDelays'].values.tolist())
delays.columns = ['Delay_1', 'Delay_2', 'Delay_3']

df = df.drop('RecentDelays', 1)
df.insert(4, "Delay_1", delays['Delay_1'])
df.insert(5, "Delay_2", delays['Delay_2'])
df.insert(6, "Delay_3", delays['Delay_3'])

df

,From,To,FlightNumber,Airline,Delay_1,Delay_2,Delay_3
0,London,Paris,10045,KLM(!),23.0,47.0,NaN
1,Madrid,Milan,10055,<Air France> (12),NaN,NaN,NaN
2,London,Stockholm,10065,(British Airways. ),24.0,43.0,87.0
3,Budapest,Paris,10075,12. Air France,13.0,NaN,NaN
4,Brussels,London,10085,"""Swiss Air""",67.0,32.0,NaN